<div class=post-content>
  <%= @post.content %>
</div>
<%= form_for post do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br><br>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br><br>
  Categories<br>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      <%= f.fields_for :categories, post.categories.build do |categories_fields| %><br>
      <%= categories_fields.text_field :name, :placeholder => "New Category" %><br><br>
    <% end %>
  <%= f.submit %>
<% end %>
